<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js" integrity="sha384-GlmfS5nyHSE1RqLSlM/ytoNudKowMofjW4WvDwdeUqXK7B1quC5nOMCAXfIfAm2C" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        console.log("Socket.IO connection established:", socket);


        // Function to send message
        function sendMessage() {
            var message = document.getElementById('messageInput').value;
            socket.emit('message', message);
            document.getElementById('messageInput').value = '';
        }

        // Function to receive and display message
        socket.on('message', function(message) {
            var node = document.createElement("LI");
            var textnode = document.createTextNode(message);
            node.appendChild(textnode);
            document.getElementById("messageList").appendChild(node);
        });
    </script>
</head>
<body>
    <h1>Chat</h1>
    <ul id="messageList"></ul>
    <input type="text" id="messageInput" placeholder="Type your message...">
    <button onclick="sendMessage()">Send</button>
</body>
</html>